section {
    width: 80%;
    height: 800px;
    background-image: url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGJhY2tncm91bmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60);
    margin: 0 auto;
    background-size: cover;
    background-repeat: none;
    background-color: thistle;
    
    }

h1 {
    font-size: 100px;
    color: white;
    font-family: Roboto, sans serif;
    font-weight: 100;
}

main{
    font-family: Roboto;
    width: 80%;
    margin: 0 auto;

}